body {
    background-image: url("../images/raceroad.jpg");
    background-repeat: no-repeat;
    background-size: 2500px;
    text
}

.main-heading {
    text-align: center;
    font-family: 'Mukta', sans-serif;
    font-size: 50px;
    

}